<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/components/styles/asidenav.css">
    <link rel="stylesheet" href="https://nawallox.github.io/look-and-feel-styleguide/oncollaboration.css">    

    <title>Document</title>
</head>
    <!-- Desktop Side Navbar -->
    <nav class="navbar">
        <a href=""><img src="/assets/images/icons/user.png" alt=""></a>
        <a href=""><img src="/assets/images/icons/patient.png" alt=""></a>
        <a href=""><img src="/assets/images/icons/contour.png" alt=""></a>
        <a href="/html/Webinardetail.html"><img src="/assets/images/icons/online-video.png" alt=""></a>
        <a href="#faq">FAQ</a>
    </nav>

    <!-- Mobile Footer Navbar -->
    <div class="mobile-footer">
        <a href=""><img src="/assets/images/icons/user.png" alt=""></a>
        <a href=""><img src="/assets/images/icons/patient.png" alt=""></a>
        <a href=""><img src="/assets/images/icons/contour.png" alt=""></a>
        <a href="/html/Webinardetail.html"><img src="/assets/images/icons/online-video.png" alt=""></a>
    </div>
<body>
    
</body>
</html>