<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://nawallox.github.io/look-and-feel-styleguide/oncollaboration.css">    <link rel="stylesheet" href="../styles/webinars.css">
    <title>webinars</title>
</head>
<body>
    <article class="webinar">
        <img class="thumbnail" src="/assets/webinars/head&neckwebinar.jpg" alt="fractionation in head and neck">
        <h1>IROS CME Webinar: Fractionation in Head & Neck and CNS malignancies; 
            Radiobiology Perspective</h1>
        <h3>Prof. R.P. (Rob) Coppes, PhD</h3> 
        <a class="filter Neuro-oncology" href="">
            <button>Neuro-oncology</button>
        </a>   
        <a class="watch" href="/html/Webinardetail.html">watch -> </a>
    </article>
</body>
</html>